livekit-agents[openai,silero,turn-detector]
livekit-plugins-noise-cancellation
python-dotenv
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-turn-detector
uvicorn
fastapi
livekit-agents
livekit-plugins-openai
livekit-plugins-silero
livekit-plugins-noise-cancellation
python-dotenv
gunicorn
uvicorn[standard]

